DATABASE_URL=postgresql://eco:changeme123@localhost:5432/ecomanager
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
JWT_SECRET=9f55e5ac477473790d7b7fd7ad9eb250383dc9286b6a365d2cd08dec4f40e7fc46c27a28a1b04bd5ceee90ec311485e855cc78f52bbde8c1735605e8fe1cfede
JWT_EXPIRY=7d
NEXT_PUBLIC_APP_URL=http://localhost:3000